:host {
    display: inline-block;
    box-sizing: border-box;
    color: var(--font-color);
    outline: 1px solid gray;
    font-size: 13px;
    background: #fff;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

:host([reveal]) {}

#heroImage {
    height: 100px;
    width: 100%;
}

#vote {}

#voteToolbar {}

#voteTitle {
    font-weight: bold;
    font-size: 16px;
}

#voteList {}

.chip {
    position: relative;
    cursor: pointer;
}

.chip + .chip {
    margin-top: 8px;
}

.chip-image {}

.chip.selected {

}
#progressContainer {
    position: relative;
    background: var(--form-color);
}

#progressContainer paper-ripple {
    color: gray;
    z-index: 3;
}

#progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    --paper-progress-active-color: var(--form-color);
    --paper-progress-container-color: var(--background-color);
}
#progressContainer #contentContainer {
    position: relative;
    box-sizing: border-box;
    padding: 5px 5px;
    width: 290px;
    z-index: 3;
}

#progressContainer .content ,#progressContainer .percentage {
    margin: 0;
    z-index: 3;
}
